.modal-app-dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dialog-header {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 236);
    text-align: center;
    font-weight: 600;
}

.dialog-header-text {
    font-weight: bold;
    font-size: 18px;
}

.modal-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content {
    background-color: var(--modalBackground);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-weight: 600;
}

.field-name {
    margin-top: 15px;
}

.field-field-type {
    margin-top: 20px;
}

.select-field-type {
    text-align: left;
    background-color: white;
    height: 30px;
    padding-left: 10px;
}

.field-checkbox {
    margin-left: 10px;
}

.alert-name {
    margin-bottom: -15px !important;
    margin-top: 3px;
    padding: 0px;
    color: rgba(255, 0, 0, 0.562);
    font-size: 14px;
    min-height: 24px;
    transition: min-height 0.2s;
}

.dialog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.ok-button {
    color: white !important;
    background-color: #4189c7;
    width: 140px;
}

.cancel-button {
    color: white !important;
    background-color: #d95071;
    width: 140px;
}

.login-label {
    margin-bottom: 5px;
}
