<div class="modal-app-dialog">
    <div class="dialog-header">{{ title | translate }}</div>
    <form class="modal-form" [formGroup]="editForm" (ngSubmit)="saveChanges()" autocomplete="on">
        <div class="modal-content">
            <div class="form-group field-name">
                <label for="displayName" class="login-label">{{
                    'EDIT_FIELD.NAME' | translate
                }}</label>
                <div class="input-group">
                    <input
                        class="form-control"
                        type="text"
                        formControlName="displayName"
                        ngbAutofocus
                        autofocus="true"
                    />
                </div>
                <div class="alert alert-name">
                    <div
                        *ngIf="displayName?.invalid && (displayName?.dirty || displayName?.touched)"
                    >
                        <div *ngIf="displayName?.errors?.['required']">
                            {{ 'EDIT_FIELD.NAME_ERROR' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group field-field-type">
                <label for="fieldType" class="login-label">{{
                    'EDIT_FIELD.TYPE' | translate
                }}</label>
                <mat-select
                    class="select-field-type"
                    formControlName="fieldType"
                    placeholder="{{ 'EDIT_FIELD.SELECT_TYPE' | translate }}"
                >
                    <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.value">
                        {{ fieldType.name }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="modal-footer dialog-footer">
            <button mat-button type="reset" class="cancel-button" [matDialogClose]="null">
                {{ 'BUTTONS.CANCEL' | translate }}
            </button>
            <button mat-button type="submit" class="ok-button" [disabled]="editForm.invalid">
                {{ saveButtonText | translate }}
            </button>
        </div>
    </form>
</div>
