.images-control {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.images-header {
    width: 100%;
    height: 50px;
}

.images-panel {
    width: 100%;
}

.images-dynamic-form {
    width: 100%;
}

.images-form-container {
    display: flex;
    flex-direction: row;
}

.image-preview {
    display: block;
    width: 200px;
}

.image-row {
    display: block;
    width: 200px;
    margin-right: 10px;
}

.images-add-button {
}
