<div class="modal-app-dialog">
    <div class="dialog-header">{{ 'RESET_PASSWORD.TITLE' | translate }}</div>
    <form
        class="modal-form"
        [formGroup]="newPasswordForm"
        (ngSubmit)="changePassword()"
        autocomplete="on"
    >
        <div class="modal-content">
            <div class="form-group login-password">
                <label for="password" class="login-label">{{
                    'RESET_PASSWORD.NEW_PASSWORD' | translate
                }}</label>
                <div class="input-group">
                    <input class="form-control" type="password" formControlName="password" />
                </div>
                <div class="alert alert-password">
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <div *ngIf="password?.errors?.['required']">
                            {{ 'RESET_PASSWORD.NEW_PASSWORD_ERROR' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group login-confirm-password">
                <label for="confirmPassword" class="login-label">{{
                    'RESET_PASSWORD.CONFIRM_PASSWORD' | translate
                }}</label>
                <div class="input-group">
                    <input class="form-control" type="password" formControlName="confirmPassword" />
                </div>
                <div class="alert alert-password">
                    <div
                        *ngIf="
                            newPasswordForm.errors?.['passwordsMismatch'] && newPasswordForm.touched
                        "
                    >
                        {{ 'RESET_PASSWORD.PASSWORD_MISMATCH' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer dialog-footer">
            <button mat-button type="submit" class="ok-button" [disabled]="newPasswordForm.invalid">
                {{ 'RESET_PASSWORD.RESET_PASSWORD' | translate }}
            </button>
        </div>
    </form>
</div>
