<div class="item-panel">
    <div class="item-header-container">
        <button
            *ngIf="itemId && fieldsArray && fieldsArray.length > 0"
            class="hourly__mat-button"
            mat-button
            (click)="saveItem()"
            [disabled]="isSaveButtonDisabled"
            [matTooltipDisabled]="isSaveButtonDisabled"
            matTooltip="{{ 'COLLECTIONS.CONFIGURE' | translate }}"
            matTooltipClass="tooltip"
        >
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div *ngIf="itemId && fieldsArray && fieldsArray.length > 0" class="dynamic-form">
        <form [formGroup]="form">
            <div formArrayName="fields" class="form-container">
                <div
                    *ngFor="let field of fieldsArray.controls; let i = index"
                    [formGroupName]="i"
                    class="field-row"
                >
                    <ng-container [ngSwitch]="field.get('type')!.value">
                        <!-- String -->
                        <ng-container *ngSwitchCase="0">
                            <div class="string-field">
                                <label [for]="'field-' + i" class="form-label">{{
                                    collectionMetadata!.fields[i].translatedDisplayName ||
                                        collectionMetadata!.fields[i].displayName ||
                                        '' | translate
                                }}</label>
                                <input
                                    id="field-{{ i }}"
                                    type="text"
                                    formControlName="control"
                                    class="form-control"
                                />
                                <div class="alert alert-name">
                                    <div
                                        *ngIf="
                                            field.get('control')?.invalid &&
                                            (field.get('control')?.dirty ||
                                                field.get('control')?.touched)
                                        "
                                    >
                                        <div *ngIf="field.get('control')?.errors?.['required']">
                                            {{ 'EDIT_FIELD.NAME_ERROR' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <!-- Text (textarea) -->
                        <ng-container *ngSwitchCase="1">
                            <div class="text-field">
                                <label [for]="'field-' + i" class="form-label">{{
                                    collectionMetadata!.fields[i].displayName
                                }}</label>
                                <textarea
                                    id="field-{{ i }}"
                                    formControlName="control"
                                    class="form-control"
                                ></textarea>
                            </div>
                        </ng-container>

                        <!-- Integer -->
                        <!-- <ng-container *ngSwitchCase="2">
                    <label [for]="'field-' + i">{{ config[i].label }}</label>
                    <input id="field-{{ i }}" type="number" formControlName="control" />
                </ng-container> -->

                        <!-- Money / Decimal / Currency -->
                        <!-- <ng-container *ngSwitchCase="3">
                    <label [for]="'field-' + i">{{ config[i].label }}</label>
                    <input id="field-{{ i }}" type="number" step="0.01" formControlName="control" />
                </ng-container> -->

                        <!-- Boolean -->
                        <ng-container *ngSwitchCase="6">
                            <div class="boolean-field">
                                <label [for]="'field-' + i">
                                    <input
                                        id="field-{{ i }}"
                                        type="checkbox"
                                        formControlName="control"
                                    />
                                    {{ collectionMetadata!.fields[i].displayName }}
                                </label>
                            </div>
                        </ng-container>

                        <!-- Date -->
                        <ng-container *ngSwitchCase="7">
                            <div class="date-field">
                                <label [for]="'field-' + i" class="form-label">{{
                                    collectionMetadata!.fields[i].displayName
                                }}</label>
                                <mat-form-field appearance="fill" style="width: 100%">
                                    <input
                                        id="field-{{ i }}"
                                        matInput
                                        [matDatepicker]="picker"
                                        [readonly]="true"
                                        formControlName="control"
                                        class="form-control"
                                    />
                                    <mat-datepicker-toggle
                                        matIconSuffix
                                        [for]="picker"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <!-- Time -->
                        <ng-container *ngSwitchCase="8">
                            <div class="time-field">
                                <label [for]="'field-' + i" class="form-label">{{
                                    collectionMetadata!.fields[i].displayName
                                }}</label>
                                <mat-form-field>
                                    <mat-label>Pick a time</mat-label>
                                    <input
                                        id="field-{{ i }}"
                                        matInput
                                        [matTimepicker]="picker"
                                        formControlName="control"
                                    />
                                    <mat-timepicker-toggle matIconSuffix [for]="picker" />
                                    <mat-timepicker #picker />
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <!-- YesNo -->
                        <ng-container *ngSwitchCase="9">
                            <div class="yes-no-field">
                                <label [for]="'field-' + i" class="form-label">{{
                                    collectionMetadata!.fields[i].displayName
                                }}</label>
                                <select
                                    id="field-{{ i }}"
                                    formControlName="control"
                                    class="form-control"
                                >
                                    <option *ngFor="let opt of getYesNoOptions()" [value]="opt.v">
                                        {{ opt.l | translate }}
                                    </option>
                                </select>
                            </div>
                        </ng-container>

                        <!-- Select -->
                        <ng-container *ngSwitchCase="10">
                            <div class="select-field">
                                <label [for]="'field-' + i" class="form-label">{{
                                    collectionMetadata!.fields[i].displayName
                                }}</label>
                                <select
                                    id="field-{{ i }}"
                                    formControlName="control"
                                    class="form-control"
                                >
                                    <option *ngFor="let opt of getOptions(i)" [value]="opt.v">
                                        {{ opt.l }}
                                    </option>
                                </select>
                            </div>
                        </ng-container>

                        <!-- Image -->
                        <ng-container *ngSwitchCase="11">
                            <div class="form-group collection-image-group">
                                <div class="image-label">
                                    <label
                                        for="image"
                                        class="form-label"
                                        style="margin-bottom: 8px"
                                        >{{
                                            collectionMetadata!.fields[i].translatedDisplayName ||
                                                collectionMetadata!.fields[i].displayName ||
                                                '' | translate
                                        }}</label
                                    >
                                </div>
                                <div class="image-preview">
                                    <app-image-control
                                        [collectionId]="collectionMetadata?.collection?.id ?? null"
                                        [imageId]="field.get('control')!.value"
                                        (imageIdChange)="field.get('control')!.setValue($event)"
                                    ></app-image-control>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
</div>
