<div *ngIf="data" class="modal-app-dialog">
    <div class="modal-body modal-content">{{ data.question | translate }}</div>
    <div class="modal-footer dialog-footer">
        <button class="ok-button" mat-button [matDialogClose]="Constants.Positive" tabindex="0">
            {{ data.positiveButton | translate }}
        </button>
        <button class="cancel-button" mat-button [matDialogClose]="Constants.Negative" tabindex="1">
            {{ data.negativeButton | translate }}
        </button>
    </div>
</div>
