<div class="collection-items-container">
    <div class="app-collection-items">
        <app-collection-items
            [currentCollection]="currentCollection"
            [selectedItemDisplayName]="selectedItemDisplayName"
            (selectedItemIdChange)="selectedItemId = $event"
        ></app-collection-items>
    </div>
    <div class="app-item-component">
        <app-item-component
            [itemId]="selectedItemId"
            [collectionMetadata]="collectionMetadata"
            (displayNameChange)="selectedItemDisplayName = $event"
        ></app-item-component>
    </div>
</div>
